@use "sass:meta";
@use "variables" as *;
@use "common" as *;

* {
  all: unset;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $sans_font;
  font-size: $font_size;
}

window {
  background-color: transparent;
}

.desktop {
  background-color: transparent;
}

.alt-tab {
  $client_size: 128px;

  @include floating_widget;
  padding: calc($spacing / 2);

  .client {
    min-width: $client_size - 2 * $padding;
    min-height: $client_size - 2 * $padding;
    padding: $padding;
    margin: calc($spacing / 2);
    border-radius: $radii;
    label {
      font-family: $sans_font;
      font-size: 12px;
    }
  }
  .selected {
    background-color: $surface2;
  }
}

label {
  font-weight: 500;
}

window.popup {
  menu {
    border: $border_width solid $border_color;
    border-radius: $radii;
    background-color: $bg;
    padding: calc($spacing / 2);

    separator {
      background-color: $border_color;
      min-height: 1px;
      margin: 3px 0;
    }

    menuitem {
      @include button($flat: true, $transition_dur: 0);
      border-radius: $radii;
      padding: 3px 16px;
      label {
        font-family: $sans_font;
        font-weight: 500;
        font-size: 12px;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

tooltip {
  background-color: transparent;
  border: none;

  > * > * {
    background-color: $bg;
    border-radius: $radii;
    border: $border_width solid $border_color;
    color: $fg;
    padding: 4px;
    margin: 0px;
    box-shadow: 0 0 4px $shadow_color;
  }
}

.osd-popup-list {
  margin-top: 256px;
  min-width: 400px;
  .osd-popup {
    @include floating_widget;
    label {
      font-size: $font_size * 2;
    }
    image {
      margin-right: $spacing;
      font-size: $font_size * 1.5;
    }
  }
}

@include meta.load-css("bar");
@include meta.load-css("notifications");
@include meta.load-css("dashboard");
@include meta.load-css("launcher");
@include meta.load-css("powermenu");
@include meta.load-css("confirm");
