@use "sass:color";
@use "variables" as *;
@use "common" as *;

@mixin notification() {
  &.critical {
    border: $border_width solid $red;
  }

  // > box {
  //   border-radius: calc($radii / 2);
  //   padding: $padding;
  // }

  .content {
    .header {
      margin-bottom: $spacing;

      .app-name {
        color: color.adjust($fg, $alpha: -0.2);
      }

      .time {
        color: color.adjust($fg, $alpha: -0.2);
      }
    }

    .summary {
      margin-right: $spacing;
      color: $fg;
      font-size: 1.2em;
    }

    .description {
      font-size: 1em;
      color: color.adjust($fg, $alpha: -0.2);
    }

    .icon {
      font-size: 78px;
      min-width: 78px;
      min-height: 78px;
      border-radius: $radii * 0.8;
      margin-right: $spacing;

      icon {
        font-size: 78px;
      }

      &.img {
        border: $border;
      }
    }
  }

  .actions {
    margin-top: $spacing;

    button {
      @include button;
      border-radius: $radii * 0.8;
      font-size: 1.2em;
      padding: calc($spacing / 2) 0;
      margin: 0 calc($spacing / 2) 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  button.close-button {
    @include button($flat: true);
    margin-left: $spacing;
    border-radius: $radii * 0.8;
    min-width: 1.2em;
    min-height: 1.2em;

    &:hover {
      background-color: color.adjust($red, $alpha: -0.5);
    }

    &:active {
      background-image: linear-gradient($red, $red);
    }
  }
}

.notifications-popup-list {
  .notification {
    @include floating_widget;
    @include notification;
    border-radius: $radii;
    margin-bottom: 0;
    min-width: 330px;
  }
}
